@keyframes fadeIn{
  from 
    {opacity : 0}
    
  to
    {opacity : 1}
}

@keyframes fadeOut{
  from 
    {opacity : 1}
    
  to
    {opacity : 0}
}

.container{
	margin : auto;
	width : 80%;
	animation : fadeIn .5s ease-in;
	
}

.shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart-total{
	float: right;
}

.lighter-text, .main-color-text{
	color: #777777;
}

.w3-badge{
	margin-left: 0px;
	position: relative;
	top: -10px;
	border-radius: 100%;
	transform: scale(0.8,0.8);
	background : #B0DFE5;
	
}

li{
	margin-bottom: 20px;
}

img{
	float: left;
	margin-right: 10px;
}

.cart-name{
	display: block;
	padding-top: 10px;
	font-size: 13px;
}

.cart-price{
	color: #B0DFE5;
}

.cart-quantity{
	margin-left: 10px;
	color: #777777;
}

.button{
	  background: #B0DFE5;
	  color:white;
	  text-align: center;
	  padding: 12px;
	  text-decoration: none;
	  display: block;
	  border-radius: 3px;
	  font-size: 16px;
	  margin-top: 38%;
}

.button:hover{
	background-color: #cfebfd;
}